.rightbar {
    flex: 3.5;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top:50px;
  }

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(179,179,179);
}
  
.rightbarWrapper {
    padding: 20px;
}
  
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .birthdayText {
    font-weight: 300;
    font-size: 15px;
  }
  
  .rightbarAd{
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
  }
  
  .rightbarTitle{
      margin-bottom: 20px;
  }
  
  .rightbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .rightbarInfo{
    margin-bottom: 30px;
  }

  .rightbarInfoItem{
    margin-bottom: 10px;;
  }

  .rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color:#555;
  }

  .rigthbarInfoValue{
    font-weight: 300;
  }

  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .rightbarFollowingImg{
    width:100px;
    height:100px;
    object-fit: cover;
    border-radius: 5px;
  }

  
  
  